<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FortPavos </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="icon" href="../public/img/Icon_VBucks.png"> <!-- icono de la pestaña -->
    <link rel="stylesheet" href="../public/css/links.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!-- navbar -->
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../public/img/Icon_VBucks.png" alt="Logo"  class="photo_pavos">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="./lotes.html">LOTES DE PAVOS</a>
                        <a class="nav-link active" href="#">PAQUETES</a>
                        <a class="nav-link active" href="./regalos.html">METODO DE REGALO</a><a class="nav-link active" href="#"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main> <!-- main -->
        <section id="section_cards">
            <h2 class="section_title">PACKS</h2>
            <div class="card" > <!--  carta del pase de origenes -->
                <img src="../public/img/packs/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pase De Origenes</h5>
                    <p class="card-text">Esta temporada el pase de Origenes incluye:</p>
                    <ul>
                        <li class="lista">100 cosmeticos unicos</li>
                        <li class="lista">5 Trajes</li>
                        <li class="lista">1000 V-Bucks</li>
                        <li class="lista">En 100 niveles</li>
                        <li class="lista">Solo por esta temporada</li>
                    </ul>
                    <a href="https://mpago.la/1TffHe4" class="btn btn-dark w-100">$1200</a>
                </div>
            </div>
            <div class="card" > <!--  carta del club de fortnite -->
                <img src="../public/img/packs/Fortnite-Crew-october-Drakon-Steel-Hybrid.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Club De Fortnite</h5>
                    <p class="card-text">Este mes el Club de Fortnite incluye:<p>
                    <ul>
                        <li class="lista">Pase de Batalla</li>
                        <li class="lista">Traje Guardian Dragonico</li>
                        <li class="lista">1000 V-Bucks</li>
                        <li class="lista">Rocket Pass Premium</li>
                        <li class="lista">Pase de origenes</li>
                        <li class="lista">Solo por este mes</li>
                    </ul>
                    <a href="https://www.mercadopago.com.ar/checkout/v1/redirect?preference-id=277530934-fc47585d-0dee-46bc-88ab-56935de381ab" class="btn btn-dark w-100">$1850</a>
                </div>
            </div>
            <div class="card" > <!--  carta del pack de inicio -->
                <img src="../public/img/packs/ES-ES_S26_Heartbreak_Royale_Pack_EGS_1200x1600_1200x1600-5acff67964daa71c0918a3346b868c0a.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pack De Inicio</h5>
                    <p class="card-text">El Paquete de Rompecorazones Magistral incluye:</p>
                    <ul>
                        <li class="lista">600 V-Bucks</li>
                        <li class="lista">Traje de Montaraz rompecorazones</li>
                        <li class="lista">Accesorio mochilero Funda magmática</li>
                        <li class="lista">Pico Bate rompecorazones</li>
                        <li class="lista">Solo por esta temporada</li>
                    </ul>
                    <a href="https://mpago.la/2mDDUxw" class="btn btn-dark w-100">$650</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de leyendas polares -->
                <img src="../public/img/packs/ES-ES_15BR_PolarLegends_EGS_2560x1440-2560x1440-31959348d227ddf63d0ec8d733041bba.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete De Leyendas Polares</h5>
                    <p class="card-text">El Paquete de Leyendas Polares incluye:</p>
                    <ul>
                        <li class="lista">Traje Operaciones especiales gélida</li>
                        <li class="lista">Traje Palito de pescado gélido</li>
                        <li class="lista">Traje de Nombre en clave E.L.F.O.</li>
                        <li class="lista">Traje El Devorador</li>
                        <li class="lista">Por tiempo limitado</li>
                    </ul>
                    <a href="https://mpago.la/24qyviG" class="btn btn-dark w-100">$3000</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de leyendas glaciales-->
                <img src="../public/img/packs/Fortnite_blog_frozen-legends-pack-returns_ES-ES_BR07_FrozenLegends_RMT_Social_v2_Social-1920x1080-c1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Leyendas Glaciales</h5>
                    <p class="card-text">El Paquete de Leyendas Glaciales incluye:</p>
                    <ul>
                        <li class="lista">Traje de Cuervo glacial</li>
                        <li class="lista">Traje de Dama roja glacial</li>
                        <li class="lista">Traje de Montaraz amoroso glacial</li>
                        <li class="lista">Con sus accesorios mochileros</li>
                        <li class="lista">Por tiempo limitado</li>
                    </ul>
                    <a href="https://mpago.la/1JM8uKD" class="btn btn-dark w-100">$2300</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de desafios de infierno -->
                <img src="../public/img/packs/paquete infierno.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Desafíos de Infierno</h5>
                    <p class="card-text">El Paquete de Desafíos de Infierno incluye:</p>
                    <ul>
                        <li class="lista">Traje de Infierno</li>
                        <li class="lista">Pico Guadaña carmesí</li>
                        <li class="lista">Envoltorio Quemadura solar</li>
                        <li class="lista"> Haciendo las misiones del paquete de Desafios De Infiernos: 1500 V-Bucks</li>
                    </ul>
                    <a href="https://mpago.la/1MNxhbR" class="btn btn-dark w-100">$1850</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de deriva infinita -->
                <img src="../public/img/packs/ES-ES_27BR_Infinite_Drift_Pack_EGS_2560x1440_2560x1440-901e4049fb6227c05063de767dc2b940.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Deriva Infinita</h5>
                    <p class="card-text">El Paquete de Deriva Infinita incluye:</p>
                    <ul>
                        <li class="lista">Traje de Calavera derivada</li>
                        <li class="lista">Pico Guadaña calavera</li>
                        <li class="lista">Traje de Deriva de la grieta</li>
                        <li class="lista">Pico Cortadoras de caminante</li>
                        <li class="lista">Traje de Palito de deriva con su pico</li>
                    </ul>
                    <a href="https://mpago.la/1PHpZht" class="btn btn-dark w-100">$2300</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de transformers -->
                <img src="../public/img/packs/ES-ES_S26_Transformers-Pack_EGS_StoreArt_1200x1600_1200x1500-2f5db43091d2ce7e045b89baa5bb8b2d.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Transformers</h5>
                    <p class="card-text">El Paquete de Transformers incluye:</p>
                    <ul>
                        <li class="lista">El traje de Bumblebee</li>
                        <li class="lista">El traje de Autobús de batalla</li>
                        <li class="lista">El traje de Megatron</li>
                        <li class="lista">Cada traja trae su baile(integrado)</li>
                        <li class="lista">Cada traje trae su respectivo pico</li>
                        <li class="lista">1000 paVos</li>
                    </ul>
                    <a href="https://mpago.la/33KdjWt" class="btn btn-dark w-100">$3750</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de escuadron calavera -->
                <img src="../public/img/packs/ES-ES_14BR_SkullSquad_EGS_2560x1440_2560x1440-ae45e8fc8ab394865484950676b9e02a.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Escuadron Calavera</h5>
                    <p class="card-text">El Paquete de Escuadron Calavera incluye:</p>
                    <ul>
                        <li class="lista">Traje de Palito óseo</li>
                        <li class="lista">Traje de Líder del escuadrón calavera</li>
                        <li class="lista">Traje de Caudillo óseo</li>
                        <li class="lista">Traje de Carroñera ósea</li>
                        <li class="lista">Cada traje trae sus ala deltas y picos</li>
                    </ul>
                    <a href="https://mpago.la/2cLhvW4" class="btn btn-dark w-100">$1250</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete del dia del juicio -->
                <img src="../public/img/packs/ES-ES_22BR_RMT_EGS_StoreArt_FinalReckoningPack_1200x1600_1200x1600-f6cb397bdc64ed43e1429a131afd0c33.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Dia del Juicio</h5>
                    <p class="card-text">El Paquete de Dia del Juicio incluye:</p>
                    <ul>
                        <li class="lista">Los terribles traje de Catrina y accesorio mochilero Luto lumbar</li>
                        <li class="lista">Los espeluznantes traje de Willow (+ 1 estilo seleccionable) y accesorio mochilero Muñequita</li>
                        <li class="lista">Los inquietantes traje de Luz negra </li>
                    </ul>
                    <a href="https://mpago.la/15bmyNv" class="btn btn-dark w-100">$1500</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de repartidor robotico -->
                <img src="../public/img/packs/ES-ES_26STW_UntaskdCourierPack_EGS_1200x1600_1200x1600-7e2e874118c419120bb01e6981b012f1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Repartidor Robotico</h5>
                    <p class="card-text">El Paquete de Repartidor Robotico incluye:</p>
                    <ul>
                        <li class="lista">Traje de Sid Obsidiana</li>
                        <li class="lista">Accesorio mochilero Reparto Corp</li>
                        <li class="lista">Pico Antenator</li>
                        <li class="lista">Acceso a "Salvar el mundo"</li>
                        <li class="lista">Podes conseguir hasta 1500 V-Bucks.</li>
                    </ul>
                    <a href="https://mpago.la/32Lcfbp" class="btn btn-dark w-100">$2450</a>
                </div>
            </div>
            <div class="card" > <!--  carta del paquete de leyendas de anime -->
                <img src="../public/img/packs/LEYENDAS-DE-ANIME.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquete de Leyendas de Anime</h5>
                    <p class="card-text">El Paquete de Leyendas de Anime incluye:</p>
                    <ul>
                        <li class="lista">Traje de Midas equipamiento dorado</li>
                        <li class="lista">Traje de Rox Rebote</li>
                        <li class="lista">Traje de Penny lista</li>
                        <li class="lista">Todos los trajes incluyen sus picos</li>
                        <li class="lista">Todos los trajes incluyen sus mochilas</li>
                    </ul>
                    <a href="https://mpago.la/2yCBoUQ" class="btn btn-dark w-100">$3000</a>
                </div>
            </div>
        </section>
    </main>
    <footer> <!-- FOOTER -->
        <p class="paragraph_footer">Horario de Atención y Entregas Lunes a Lunes de 12 a 24hs. Horario Argentina <img src="../public/img/1f1e6-1f1f7.png" alt="" class="bandera_arg"></p>
        <span>© Derechos reservados de FortPavos</span>
    </footer>
</body>
</html>